<div class="fourth-slide-container">
  <div class="fourth-slide-left">
    <img src="assets/images/fourthSection.svg" class="fourth-slide-img">
  </div>
  <div class="fourth-slide-right">
    <h2 class="fourth-slide-h2">¿Qué es un flip?</h2>
    <h3 class="fourth-slide-h3">Le damos la vuelta al like. Cada flip vale 10 céntimos. Tu audiencia decide cuánto vale
      tu contenido.</h3>
    <div class="fourth-slide-button-container">
      <app-button-input text="Quiero registrarme"></app-button-input>
    </div>
  </div>
</div>