@import '../../../../styles/palette';
@import '../../../../styles/variables';

.button-input-container{
    position: relative;
    width: 100%;  

    .button-container{
        width: 100%;
        -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
        transition: width 2s;
        top: 0;
        position: absolute;
        z-index: 1;

        button{
            width: 100%;
            height: 56px;
            border-radius: 3.9px;
            background-color: $main-button-color;
            color: $main-button-text-color;
            position: relative;
            -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
            transition: color 1s;
        }
        .buttonTextHide{
            color: transparent;
        }
    }
    .button-container-hide {
        width: 0px;
    }

    .input-container{
        top: 0;
        position: absolute;
        width: 0px;
        height: 56px;
        -webkit-transition: width 2.5s; /* For Safari 3.1 to 6.0 */
        transition: width 2.5s;
        input{
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-radius: 2px;
            padding-left: 30px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            -webkit-transition: padding-left 2.5s; /* For Safari 3.1 to 6.0 */
            transition: padding-left 2.5s;
        }
    }
    .input-container-show{
        width: 100%;
    }
    .input-container-hide{
        width: 0%;
        input{
            padding-left: 0px;
        }
    }
    .sendButton{
        top: 64px;
        left: 0;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        height: 56px;
        border-radius: 2px;
        background-color: $main-button-color;
        color: $main-button-text-color;
        opacity: 0;
        -webkit-transition: opacity 3s; /* For Safari 3.1 to 6.0 */
        transition: opacity 3s;
        transition-delay: 1s;
    }
    .sendButtonShow{
        opacity: 1;
    }
    .sendButtonHide{
        opacity: 0;
    }

    .alert-email-success, .alert-email-error{
        top: 0;
        position: absolute;
        width: 0px;
        height: 56px;
        -webkit-transition: width 2.5s; /* For Safari 3.1 to 6.0 */
        transition: width 2.5s;
        background-color: $main-button-color;
        color: transparent;
        p{
            opacity: 0;
            -webkit-transition: opacity 2.5s; /* For Safari 3.1 to 6.0 */
            transition: opacity 2.5s;
            transition-delay: 1.5s;
        }
    }
    .alert-email-success-show, .alert-email-error-show{
        width: 100%;
        font-size: $mobile-h3-font-size;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $main-button-text-color;
        border-radius: 2px;
        p{
            opacity: 1;
        }
    }
    .alert-email-error-show{
        background-color: $error-alert-color;
    }
}
