@import '../../../../styles/palette';
@import '../../../../styles/variables';
.button-input-container {
    position: relative;
    width: 100%;
    .button-container {
        width: 100%;
        -webkit-transition: width $transition-width;
        transition: width $transition-width;
        top: 0;
        position: absolute;
        z-index: 3;
        button {
            width: 100%;
            height: $mobile-height-button-input-container;
            border-radius: 3.9px;
            background-color: $main-button-color;
            color: $main-button-text-color;
            position: relative;
            -webkit-transition: color $transition-color;
            transition: color $transition-color;
            cursor: pointer;
        }
        .buttonTextHide {
            color: transparent;
            font-size: 0;
        }
    }
    .button-container-hide {
        width: 0px;
        font-size: 0;
    }
    .input-container {
        left: 0;
        top: 0;
        position: absolute;
        z-index: 2;
        width: 0px;
        height: $mobile-height-button-input-container;
        -webkit-transition: width $transition-width;
        transition: width $transition-width;
        input {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            border-radius: 2px;
            padding-left: 30px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            -webkit-transition: padding-left $transition-padding-left;
            transition: padding-left $transition-padding-left;
        }
    }
    .input-container-show {
        width: 100%;
    }
    .input-container-hide {
        width: 0%;
        input {
            padding-left: 0px;
        }
    }
    .placeholder-error {
        input {
            border: 1px solid $error-alert-color;
        }
        ::placeholder {
            color: $error-alert-color;
        }
    }
    .sendButton {
        top: 64px;
        left: 0;
        position: absolute;
        margin: 0 auto;
        width: 100%;
        height: $mobile-height-button-input-container;
        border-radius: 2px;
        background-color: $main-button-color;
        color: $main-button-text-color;
        opacity: 0;
        -webkit-transition: opacity $transition-opacity;
        transition: opacity $transition-opacity;
        transition-delay: $transition-opacity-delay;
        cursor: pointer;
    }
    .sendButtonShow {
        opacity: 1;
    }
    .sendButtonHide {
        opacity: 0;
    }
    .alert-email-success,
    .alert-email-error {
        top: 0;
        position: absolute;
        width: 0px;
        height: $mobile-height-button-input-container;
        -webkit-transition: width $transition-width;
        transition: width $transition-width;
        background-color: $main-button-color;
        color: transparent;
        p,
        img {
            opacity: 0;
            -webkit-transition: opacity $transition-opacity;
            transition: opacity $transition-opacity;
            transition-delay: $transition-opacity-delay;
            margin-right: 6px;
        }
        img {
            display: none;
        }
    }
    .alert-email-success-show,
    .alert-email-error-show {
        position: relative;
        width: 100%;
        font-size: $mobile-h3-font-size;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $main-button-text-color;
        border-radius: 2px;
        p,
        img {
            opacity: 1;
        }
        img {
            display: block;
            position: absolute;
            top: 10px;
            right: 6px;
            width: 16px;
            cursor: pointer;
        }
    }
    .alert-email-error-show {
        background-color: $error-alert-color;
    }
}

@media only screen and (min-width: 1280px) {
    .button-input-container {
        .button-container {
            button {
                font-size: $desktop-font-size-h3;
            }
        }
        .input-container {
            input {
                font-size: $desktop-font-size-h3;
            }
            ::placeholder {
                font-size: $desktop-font-size-h3;
            }
        }
        .placeholder-error {
            ::placeholder {
                font-size: $desktop-font-size-h3;
            }
        }
        .sendButton {
            font-size: $desktop-font-size-h3;
        }
    }
}

@media only screen and (min-width: 1680px) {
    .button-input-container {
        .button-container {
            button {
                font-size: $big-desktop-font-size-h3;
                height: $big-desktop-height-button-input-container;
            }
        }
        .input-container {
            height: $big-desktop-height-button-input-container;

            input {
                font-size: $big-desktop-font-size-h3;
            }
            ::placeholder {
                font-size: $big-desktop-font-size-h3;
            }
        }
        .placeholder-error {
            ::placeholder {
                font-size: $big-desktop-font-size-h3;
            }
        }
        .sendButton {
            top: $big-desktop-height-button-input-container + 10;
            height: $big-desktop-height-button-input-container;
            font-size: $big-desktop-font-size-h3;
        }
    }
}