<div class="button-input-container">
    <div class="button-container" [ngClass]="{'button-container-hide': buttonHide}">
        <button [ngClass]="{'buttonTextHide': buttonHide}" (click)="showInput()">{{ buttonText }}</button>
    </div>
    <label for="emailInput" class="input-container" [ngClass]="{'input-container-show': buttonHide, 'input-container-hide': inputHide, 'placeholder-error': placeholder.error}">
        <input id="emailInput"type="text" [placeholder]="placeholder.text" [(ngModel)]="email">
    </label >
    <div class="alert-email-success" [ngClass]="{'alert-email-success-show': success}">
        <p>Pronto recibirás noticias!</p><img (click)="closeAlert()" src="assets/images/closeIcon.svg">
    </div>
    <div class="alert-email-error" [ngClass]="{'alert-email-error-show': error}">
        <p>Ups! Prueba de nuevo!</p><img (click)="closeAlert()"src="assets/images/closeIcon.svg">
    </div>
    <button class="sendButton" [ngClass]="{'sendButtonShow': buttonHide, 'sendButtonHide': inputHide}" (click)="sendEmail(email)">Acceso
        anticipado</button>
</div>