<div class="first-slide">
  <div class="first-slide-left">
    <img class="first-slide-logo" src="assets/images/logo.svg" alt="flippit-logo">
    <h2 class="first-slide-h2">Tu contenido tiene valor</h2>
    <h3 class="first-slide-h3">El ‘like’ es historia. Flippit te permite recibir una valoración real de tus fans.</h3>
    <div class="input-container first-slide-input-container">
      <input type="email" placeholder="Email" id="input1">
      <button>Acceso anticipado</button>
    </div>
  </div>
  <div class="first-slide-right">
    <img class="first-slide-img"src="assets/images/mobileFirstSlideImg.svg">
    <img class="first-slide-img-desktop"src="assets/images/firstSectionImg.svg">
  </div>
</div>