<div class="first-slide">
  <div class="first-slide-left">
    <img class="first-slide-logo" src="assets/images/logo.svg" alt="flippit-logo">
    <h2 class="first-slide-h2">Flippit es la valoración digital por excelencia</h2>
    <h3 class="first-slide-h3">Cansado de los likes de mentira, que se dan sin pensar y se pueden comprar?
      Flippit permite monetizar y validar tu blog a la vez.</h3>

    <div class="first-slide-button-container-desktop">
      <app-button-input-desktop text="Acceso Anticipado"></app-button-input-desktop>
    </div>
    <div class="first-slide-button-container">
      <app-button-input text="Acceso Anticipado"></app-button-input>
    </div>
  </div>
  <div class="first-slide-right">
    <img class="first-slide-img" src="assets/images/mobileFirstSlideImg.svg">
    <img class="first-slide-img-desktop" src="assets/images/firstSectionImg.svg">
  </div>
</div>