/*-----------------.
|  Primary Colors  |
'-----------------*/
$gradient-light:#45F2B7;
$gradient-dark: #4396FF;
$third-slide-background-color: rgba(67, 150, 255, 0.05);
$error-alert-color: #ff0079;
/*-----------------.
|  Buttons Colors  |
'-----------------*/
$main-button-color: rgb(53,114,241);
$main-button-text-color: #FFFFFF;
/*--------------.
|  Text Colors  |
'--------------*/
$first-slide-text-color: #FFFFFF;
$slide-text-color: #4a4a4a;
$third-slide-background:  rgba(67, 150, 255, 0.05);

