@import './palette';

:root {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*:after,
*before {
  box-sizing: inherit;
}
body{
  font-family: 'Work Sans', sans-serif;
}
button, input[type="submit"], input[type="reset"], input[type="text"], input[type="email"] {
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}
h2,h3,p {
  margin: 0;
  padding: 0;
}
h3{
  font-weight: 300;
}

