/*--------------.
|   Font sizes  |
'--------------*/
$mobile-h2-font-size: 32px;
// $tablet-h2-font-size: 18px;
// $desktop-h2-font-size: 24px;

$mobile-h3-font-size: 18px;
// $tablet-h3-font-size: 24px;
// $desktop-h3-font-size: 24px;


$margin-h2-to-h3-mobile: 24px;
$margin-top-to-h2-mobile: 32px;