<div class="footer-container">
  <div class="footer-logo-container">
    <img class="footer-logo" src="assets/images/logo.svg" alt="flippit-logo">
    <h3 class="footer-h3">Síguenos: </h3>
    <div class="footer-logos-container">
      <a href="https://www.facebook.com/Flippit-285746985362038/?modal=admin_todo_tour" target="_blank"><img src="assets/images/facebook.svg"></a>
      <a href="https://www.instagram.com/flippitofficial/" target="_blank"><img src="assets/images/instagram.svg"></a>
      <a href="https://twitter.com/FlippitOfficial" target="_blank"><img src="assets/images/twitter.svg"></a>
    </div>
  </div>
</div>