<div class="second-slide-container">
  <div class="second-slide-left">
    <h2 class="second-slide-h2">Fácil de utilizar.</h2>
    <h3 class="second-slide-h3">Instala nuestro botón en tu página y permite que tus fans te den flips. ¿Cuántos puedes conseguir?</h3>
    <img class="second-slide-flipButton"src="assets/images/flipButton.svg">
    <div class="second-slide-button-container">
      <app-button-input text="Únete al club"></app-button-input>
    </div>
  </div>
  <div class="second-slide-right">
    <img class="second-slide-background" src="assets/images/secondSection.svg">
  </div>
</div>