@import '../../../../styles/palette';
@import '../../../../styles/variables';

.second-slide-container{
    color: $slide-text-color;
    text-align: center;
    margin-top: $margin-top-mobile;

    .second-slide-left{
        .second-slide-h2{
            font-size: $mobile-h2-font-size;
        }
        .second-slide-h3{
            margin-top: $margin-h2-to-h3-mobile;
            font-size: $mobile-h3-font-size;
            padding: 0 32px;
        }
        .second-slide-flipButton{
            margin: 52px 0 0;
            width: 90%;
        }
        .second-slide-button-container{
            margin: 0 auto;
            margin-top: $margin-top-button-input-container;
            width: 90%;
            height: 56px;
        }
    }
    .second-slide-right{
        .second-slide-background{
            display: none;
        }
    }
}
