<div class="second-slide-container">
  <div class="second-slide-left">
    <h2 class="second-slide-h2">Fácil de utilizar.</h2>
    <h3 class="second-slide-h3">Instalamos nuestro botón en tu página. Tu audiencia selecciona la cantidad que quiere premiar. ¿Cuántos flips crees que puedes conseguir?</h3>
    <img class="second-slide-flipButton"src="assets/images/flipButton.svg">
    <div class="second-slide-button-container">
      <app-button-input text="Quiero registrarme"></app-button-input>
    </div>
  </div>
  <div class="second-slide-right">
    <img class="second-slide-background" src="assets/images/secondSection.svg">
  </div>
</div>