@import '../../../../styles/palette';
@import '../../../../styles/variables';
.third-slide-container {
    color: $slide-text-color;
    text-align: center;
    background-color: $third-slide-background;
    padding-bottom: $mobile-padding-bottom-slide-container;
    .third-slide-img {
        margin-top: $margin-top-container-to-image;
        width: $mobile-images-size;
    }
    .third-slide-h2 {
        margin-top: $margin-top-image-to-h2;
        font-size: $mobile-h2-font-size;
    }
    .third-slide-h3 {
        margin-top: $margin-h2-to-h3-mobile;
        font-size: $mobile-h3-font-size;
        padding: 0 32px;
    }
    .third-slid-br {}
    .third-slide-button-container {
        margin: 0 auto;
        margin-top: $margin-top-button-input-container-mobile;
        width: 90%;
        height: 56px;
    }
}
@media only screen and (min-width: 768px) {
    .third-slide-container {
        padding-bottom: $tablet-padding-bottom-slide-container;
        .third-slide-img {
            margin-top: $tablet-margin-top-container-to-image;
        }
        .third-slide-h2 {}
        .third-slide-h3 {
            width: $tablet-width-h3;
            margin-left: auto;
            margin-right: auto;
        }
        .third-slid-br {}
        .third-slide-button-container {
            width: $tablet-width-button-input-container;
        }
    }
}

@media only screen and (min-width: 1280px) {
    .third-slide-container {
        padding-bottom: $tablet-padding-bottom-slide-container;
        .third-slide-img {
            margin-top: $tablet-margin-top-container-to-image;
            width: $desktop-width-main-img-slide;
        }
        .third-slide-h2 {
            font-size: $desktop-font-size-h2;
        }
        .third-slide-h3 {
            width: $tablet-width-h3;
            font-size: $desktop-font-size-h3;
            margin-left: auto;
            margin-right: auto;
        }
        .third-slid-br {
            display: none
        }
        .third-slide-button-container {
            width: $tablet-width-button-input-container;
        }
    }
}

@media only screen and (min-width: 1680px) {
    .third-slide-container {
        padding-bottom: $big-desktop-padding-bottom-slide-container;
        .third-slide-img {
            margin-top: $big-desktop-margin-top-container-to-image;
            width: $big-desktop-width-main-img-slide;
        }
        .third-slide-h2 {
            font-size: $big-desktop-font-size-h2;
        }
        .third-slide-h3 {
            width: $big-desktop-width-h3;
            font-size: $big-desktop-font-size-h3;
            margin-left: auto;
            margin-right: auto;
        }
        .third-slid-br {
            display: none
        }
        .third-slide-button-container {
            width: $big-desktop-width-button-input-container;
        }
    }
}